<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %5p _ %c{1}:%L - %m%n</pattern>
        </encoder>
        <immediateFlush>true</immediateFlush>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>